<footer>
<div class="container-fluid">
<div class="row">
<div class="col-12">
<a
class="rca-type -color- quaternary rca-text- body-12-contrast. primary-reg-lh18 text-decoration-none"
[attr.data-selector]=" 'ESG-PRIVACY-STATEMENT'"
routerLink='{{ esgPrivacyurl }}' >
Data Privacy Statement
</a>
<br/>
<span class="rca-type-color--quaternary footer-divider">|</span>
<span
class="rca-type-color--quaternary rca-text-body-12-contrast_primary-reg-lh18"
[attr.data-selector]="*COPYRIGHT-CONTENT'">
Copyright &copy; {{currentyear }} Deutsche Bank AG, Frankfurt am Main
</span>
</div>
</div>
</div>
<footer>